{% extends 'base.html' %}

{% block title %} Film list {% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">
          {% if user.is_authenticated %}
                Welcome {{user.username}}!<br>
                <a class ="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class ="btn btn-primary" href="{% url 'login' %}">Login</a>
            {% endif %}
        </h1>
        <hr class="my-4">
        <h5>Film list</h5>
    </div>

    <h3>{{text}}</h3>

    <a href="{% url 'nowy_film'%}">Add movie <i class="fas fa-plus"></i></a>
    <br>
        {% for film in filmy %}
        <div class="card" style="width: 700px">
            <div class="card-body">
            <img src="/media/{{ film.photo }}">

            <div class="row">
                <div class="col-sm-9">
                    <h2>{{film}}</h2>
                </div>
                <div class="col-sm-3">
                    <a href="{% url 'edytuj_film' film.id %}"><i class="fas fa-2x fa-edit"></i></a>
                    <a href="{% url 'usun_film' film.id %}"><i class="fas fa-2x fa-trash-alt"></i></a>
                </div>
            </div>
                <div class="row">
                    <p class="description">{{film.description}}</p>
                </div>
          </div>
        </div>

        {% endfor %}

{% endblock %}