body {
    color: #444;
    padding: 50px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

img {
    width: 150px;
    float: left;    
}

.description {
    margin-left: 10px;
}